* {
  font-family: Segoe UI;
  font-weight: normal;
}

.header {
  background-color: #EDEDED;
  padding: 2%;
  text-align: center;
  font-size: xx-large;
  margin-left: 1%;
  margin-bottom: 1%;
  margin-top: 2%;
  width: 94%;
  height: 10%;
  border-radius: 4px;
}

.standardBlock {
  background-color: #EDEDED;
  padding: 2%;
  padding-top: 1%;
  font-size: large;
  margin-left: 1%;
  margin-bottom: 1%;
  margin-top: 1.5%;
  width: 94%;
  height: 10%;
  border-radius: 4px;
}

#create_option {
  padding-top: 2%;

}

label {
font-size: 80%;
}

input[type=text] {
  width: 100%;
  padding: 10px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  transition-duration: .3s;
  background-color: #58C55C;
  color: white
}

a:link {
text-decoration: none
}

a:visited {
  color: 551A8B;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
