<!DOCTYPE html>
<!--
Kazimierz Major -- Andrew Juang, Noakai Aronesty, Eric Guo, Qina Liu
SoftDev
P00 -- Web Log Hosting Site
-->

<html>
    <head>
        <title> Create Blog </title>
        <link rel="stylesheet" href="../static/bad.css">
    </head>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{{ url_for('dashboard', username=username) }}">My Dashboard</a></li>
        <li><a href="/create">Create Blog</a></li>
        <li style="float:right"><a href="/logout" class="logout">Logout</a></li>
    </ul>

    <body>
        <h1 class="header"> Add An Entry <h1>
        <!-- FIX THIS  -->
        <form action = "/createentry" method="POST" id="create">
            <label>Entry Name</label><br>
            <input type="text" name="Entryname"><br><br>
            <label>Content</label><br>
            <textarea form="create" rows="10" name="Body"></textarea>
            <input type="hidden" name="Blogtitle" value={{blogtitle}}>
            <input type="submit" name="sub1" value="Post Entry">
            <!-- <a href="{{ url_for('createentry', blogtitle=blogtitle) }}">Create Entry</a> -->
        </form>
    </body>

</html>
