<!DOCTYPE html>
<!--
Kazimierz Major -- Andrew Juang, Noakai Aronesty, Eric Guo, Qina Liu
SoftDev
P00 -- Web Log Hosting Site
-->

<html>
    <head>
        <title> DASHBOARD PAGE </title>
        <link rel="stylesheet" href="../static/bad.css">
    </head>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{{ url_for('dashboard', username=username) }}">My Dashboard</a></li>
        <li><a href="/create">Create Blog</a></li>
        <li style="float:right"><a href="/logout" class="logout">Logout</a></li>
    </ul>

    <body>
        <h1 class="header"> Kazimierz Major -- Andrew Juang, Noakai Aronesty, Eric Guo, Qina Liu <br>
            {{user}}'s Dashboard </h1>

        <h1>{{user}}'s Blogs</h1>
        <!-- Display list of user's blogs here -->
        {% for title in titles %}
        <!-- each blog is a link that will lead to display such blog -->
        <h2> <a href= "{{ url_for('displayblog', blogtitle = title.replace(" ","-")) }}">{{ title }}</a></h2>
        {% endfor %}
        <br>
    </body>

</html>
