<!DOCTYPE html>
<!--
Kazimierz Major -- Andrew Juang, Noakai Aronesty, Eric Guo, Qina Liu
SoftDev
P00 -- Web Log Hosting Site
-->

<html>
    <head>
        <title> DASHBOARD PAGE </title>
        <link rel="stylesheet" href="../static/bad.css">
    </head>

    <body>
        <h1 class="header"> Kazimierz Major -- Andrew Juang, Noakai Aronesty, Eric Guo, Qina Liu <br>
            {{user}}'s DASHBOARD </h1>

        <!-- link to go back to homepage -->
        <a href="{{ url_for('index') }}">Back to Homepage</a>
        <br><br>
        <!-- button to logout -->
        <form action="/logout">
            <input type="submit" name="sub1" value="Logout" class="logout">
        </form>
        <br>
        <h2>{{user}}'s Blogs</h2>
        <!-- Display list of user's blogs here -->
        {% for title in titles %}
        <!-- each blog is a link that will lead to display such blog -->
        <h3> <a href= "{{ url_for('displayblog', blogtitle = title.replace(" ","-")) }}">{{ title }}</a></h3>
        {% endfor %}
        <br>
    </body>

</html>
