<!DOCTYPE html>
<!--
Kazimierz Major -- Andrew Juang, Noakai Aronesty, Eric Guo, Qina Liu
SoftDev
P00 -- Web Log Hosting Site
-->

<html>
    <head>
        <title> DISPLAY PAGE </title>
        <link rel="stylesheet" href="../static/bad.css">
    </head>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="{{ url_for('dashboard', username=username) }}">My Dashboard</a></li>
        <li><a href="/create">Create Blog</a></li>
        <li style="float:right"><a href="/logout" class="logout">Logout</a></li>
    </ul>

    <body>
        <h1 class="header"> Kazimierz Major -- Andrew Juang, Noakai Aronesty, Eric Guo, Qina Liu <br>
            {{blogtitle.replace("-"," ")}} </h1>

        <!-- Check if current user is allowed to add an entry to the blog -->
        {% if is_own_page %}
            <form style="display: inline;" action="/addentry", method="POST">
                <input type="submit" name="sub1" value="Create Entry">
                <input type="hidden" name="Blogtitle" value={{blogtitle}}>
            </form>
            <form style="display: inline;" action="/deleteblog", method="POST">
                <input type="submit" name="sub1" value="Delete Blog" class="logout">
                <input type="hidden" name="Blogtitle" value={{blogtitle}}>
            </form>
        {% endif %}

        <h1>Entries for <i>{{blogtitle.replace("-"," ")}}:</i></h1>
        <!-- Display Entries Here -->
        {% for entryname, content in entries %}
            <h2> {{entryname}} </h2>
            {{ content }}
            <br>
        {% endfor %}
        <br>

        {% if input == "Invalid Entry" %}
            <p style="color:red">*{{input}}. Please try again!</p>
        {% endif %}<br>

        <br>
    </body>

</html>
