<!DOCTYPE html>
<!--
Kazimierz Major -- Andrew Juang, Noakai Aronesty, Eric Guo, Qina Liu
SoftDev
P00 -- Web Log Hosting Site
-->

<html>
    <head>
        <title> DISPLAY PAGE </title>
        <link rel="stylesheet" href="../static/bad.css">
    </head>

    <body>
        <h1 class="header"> Kazimierz Major -- Andrew Juang, Noakai Aronesty, Eric Guo, Qina Liu <br>
            {{blogtitle.replace("-"," ")}} </h1>

        <!-- link to go back to homepage -->
        <a href="{{ url_for('disp_loginpage') }}">Back to Homepage</a>
        <br><br>
        <!-- Display Entries Here -->
        {% for entryname, content in entries %}
            <h2> {{entryname}} </h2>
            {{ content }}
            <br>
        {% endfor %}
        <br>
        {% if is_own_page %}
            <form action="/create2", method="POST">
                <input type="submit" name="sub1" value="Create Entry">
                <input type="hidden" name="Blogtitle" value={{blogtitle}}>
            </form><br>
        {% endif %}
        <!-- button to logout -->
        <form action="/logout">
            <input type="submit" name="sub1" value="Logout" class="logout">
        </form>
        <br>
    </body>

</html>
