<!DOCTYPE html>
<!--
Kazimierz Major -- Andrew Juang, Noakai Aronesty, Eric Guo, Qina Liu
SoftDev
P00 -- Web Log Hosting Site
-->


<html>
    <head>
        <title> LOGIN PAGE </title>
    </head>

    <body>
        <h1> Kazimierz Major -- Andrew Juang, Noakai Aronesty, Eric Guo, Qina Liu </h1>
        <h1> Welcome, Travelers of the Intertoobz </h1>
        <h3> Enter your username and password below to proceed.</h3>

        <form action="/auth", method="POST">
            <label>Username: </label><br>
            <input type="text" name="username"><br>
            <label>Password: </label><br>
            <input type="text" name="password"><br><br>
            <input type="submit" name="sub1" value="Login">
        </form>
        <h3> New user? <a href="{{ url_for('register') }}">Create an account.</a> </h3>
        {% if input == "success" %}
            <p style="color:green">*Registration successful! Please login.</p>
        {% elif input == "bad_user" %}
            <p style="color:red">*Username not found. Please try again!</p>
        {% elif input == "bad_pass" %}
            <p style="color:red">*Password incorrect. Please try again!</p>
        {% endif %}<br>

    </body>

</html>
