<!DOCTYPE html>
<!--
The Adjective Nouns -- Andrew Juang, Noakai Aronesty, Eric Guo
SoftDev
K14 -- Form and Function
2021-10-14

simple demo of HTML forms via Flask

trioTASK:
If any member of team has forms experience, let their know-how osmote.
If no one does, seek external assistance.
PROTIP: Revisit code from intro if you have it.
Peruse this code together and discuss how it should work, in conjunction with the back end apparatus.
-->


<html>
    <head>
        <title> LOGIN PAGE </title>
    </head>

    <body>
        <h1> The Adjective Nouns -- Andrew Juang, Noakai Aronesty, Eric Guo </h1>
        <h1> Welcome, Travelers of the Intertoobz </h1>
        <h3> Enter your username and password below to proceed.</h3>

        <form action="/auth", method="POST">
            <label>Username: </label><br>
            <input type="text" name="username"><br>
            <label>Password: </label><br>
            <input type="text" name="password"><br><br>
            <input type="submit" name="sub1" value="Login">
        </form> <br>
        {% if input|length > 1 %}
            <p style="color:red">*{{input}}incorrect please try again!</p> 
        {% endif %}<br>

    </body>

</html>
