<!DOCTYPE html>
<!--
Kazimierz Major -- Andrew Juang, Noakai Aronesty, Eric Guo, Qina Liu
SoftDev
P00 -- Web Log Hosting Site
-->

<html>
    <head>
        <title> RESPONSE PAGE </title>
        <link rel="stylesheet" href="../static/bad.css">
    </head>

    <body>
        <h1 class="header"> Kazimierz Major -- Andrew Juang, Noakai Aronesty, Eric Guo, Qina Liu <br>
            Waaaa hooo HAAAH, {{username}} </h1><br>

        <form action ="/create", method="POST">
            <input type="submit" name="sub1" value="Create Blog">
        </form> <br>

        <!-- Fetches blogs from database and creates list of all blog in database with format of
                Title by User -->
        <h1> List of Blogs </h1>
        {% for blogname,user in blogs_users %}
            <!-- blog title with link to display blog -->
            <a href="{{ url_for('displayblog', blogtitle=blogname.replace(" ", "-")) }}">{{ blogname }}</a> by
            <!-- user that created the blog with link to user's dashboard-->
            <a href="{{ url_for('dashboard', username=user) }}">{{ user }}</a>
            <br>
        {% endfor %}
        <br>

        <form action="/logout">
            <input type="submit" name="sub1" value="Logout" class="logout">
        </form> <br>
    </body>

</html>
