<!DOCTYPE html>
<!--
Kazimierz Major -- Andrew Juang, Noakai Aronesty, Eric Guo, Qina Liu
SoftDev
P00 -- Web Log Hosting Site
-->

<html>
    <head>
        <title> RESPONSE PAGE </title>
    </head>

    <body>
        <h1> Kazimierz Major -- Andrew Juang, Noakai Aronesty, Eric Guo, Qina Liu </h1>
        <h1> Waaaa hooo HAAAH, {{username}} </h1><br>

        <form action ="/create", method="POST">
            <input type="submit" name="sub1" value="Create Blog">
        </form> <br>

        <!-- Fetches blogs from database and creates list of all blog in database with format of
                Title by User -->
        <h1> Dashboard Tests </h1>
        {% for blogname,user in blogs_users %}
            <!-- blog title with link to display blog -->
            <a href="{{ url_for('displayblog', blogtitle=blogname) }}">{{ blogname }}</a> by 
            <!-- user that created the blog with link to user's dashboard-->
            <a href="{{ url_for('dashboard', username=user) }}">{{ user}}</a> 
            <br>
        {% endfor %}
        <br>
        <!-- a button that displays a blog (hardcoded id) for testing, idk how to incorporate this as a link for each blog rn -->
        <form action="/dashboard/andrew", method="POST">
            <input type="submit" name="sub1" value="Dashboard (testing)">
        </form> <br>

        <!--
        <h1> List of Blogs </h1>
        {% for blogname, user in blogs_users %}
            <a href="{{ url_for('displayblog', blogtitle=blogname) }}">{{ blogname }}</a> by {{user}}
            <br>
        {% endfor %} -->
        
        <form action="/display/journal", method="POST">
            <input type="submit" name="sub1" value="Display (testing)">
        </form> <br><br>

        <form action="/logout">
            <input type="submit" name="sub1" value="Logout">
        </form> <br>
    </body>

</html>
